{% extends 'mainMenu/base.html' %}
{% block content %}
    <p> {{ task }}</p>

    <ul>

        <li>
            <p>Наименование: {{ task.name }}</p>
            <p>Проект: {{ task.project }}</p>
            <p>Автор: {{ task.author }}</p>
            <p>Исполнитель: {{ task.implementer }}</p>
            <p>Статус: {{ task.status }}</p>
            <p>Описание: {{ task.description }}</p>
        </li>

        <p>
            <a href="{% url 'mainMenu:edit_task' task.id %}">Редактировать запись</a>
        </p>


        <p>Комментарии к задаче</p>
        <p>
            <a href="{% url 'mainMenu:add_comment' %}">Добавить комментарий</a>
        </p>
        <ul>
            {% for comment in comments %}
                <li>
                    <p>{{ comment.text }}</p>
                </li>
            {% empty %}
                <li>Нет комментариев.</li>
            {% endfor %}
        </ul>


    </ul>
{% endblock content %}